Jetstream.Sdk/Resources/xsd/application/1.2/application/RemoveEventsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://Jetstream.TersoSolutions.com/v1.2/RemoveEventsResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Jetstream.TersoSolutions.com/v1.2/RemoveEventsResponse">
  <xs:element name="RemoveEventsResponse">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Jetstream">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Header"/>
        <xs:element ref="RemoveEventsResponse"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Header">
    <xs:complexType/>
  </xs:element>
</xs:schema>
