Jetstream.Sdk/Resources/xsd/application/1.5/application/CommandResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://Jetstream.TersoSolutions.com/v1.5/CommandResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Jetstream.TersoSolutions.com/v1.5/CommandResponse" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="Jetstream">
    <xs:annotation>
      <xs:documentation>Root node for all Jetstream messages</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:annotation>
            <xs:documentation>Header for the DeviceSpecificCommand Response</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:anyAttribute namespace="##any"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="CommandResponse">
          <xs:annotation>
            <xs:documentation>Wrapper node for all DeviceSpecificCommand data</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OutputParameterList">
                <xs:annotation>
                  <xs:documentation>A list of OutputParameter generated by the execution of the command</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OutputParameter" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>An output parameter generated by the execution of the command</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="Name" use="required">
                          <xs:annotation>
                            <xs:documentation>Name of output parameter</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="63"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Value" use="required">
                          <xs:annotation>
                            <xs:documentation>Value of output parameter</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="255"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:anyAttribute namespace="##any"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:anyAttribute namespace="##any"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="ExceptionList">
                <xs:annotation>
                  <xs:documentation>A list of Exception that occurred when executing the command on the device</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Exception" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>An exception that occurred while executing the command on the device</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="Name" use="required">
                          <xs:annotation>
                            <xs:documentation>Name of exception</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="63"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Message" use="required">
                          <xs:annotation>
                            <xs:documentation>Message of exception</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="255"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:anyAttribute namespace="##any"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:anyAttribute namespace="##any"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="DeviceExtensionList">
                <xs:annotation>
                  <xs:documentation>List of device extensions applicable to the CommandCompletion Event</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DeviceExtension" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>A device specific extension to the Command Completed event.  See the specific device documentation</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="Name" use="required">
                          <xs:annotation>
                            <xs:documentation>Name of the extension</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="63"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Value" use="required">
                          <xs:annotation>
                            <xs:documentation>Value of the extension</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="255"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:anyAttribute namespace="##any"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:anyAttribute namespace="##any"/>
                </xs:complexType>
              </xs:element>
              <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="CommandId" use="required">
              <xs:annotation>
                <xs:documentation>The unique identifier returned from Jetstream for this command</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="36"/>
                  <xs:maxLength value="36"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:anyAttribute namespace="##any"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
