JetStreamSDK/Resources/xsd/application/1.0/GetDeviceDefinitionsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Ken Sloane (Terso Solutions, Inc.) -->
<xs:schema xmlns="http://Jetstream.TersoSolutions.com/v1.0/GetDeviceDefinitionResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Jetstream.TersoSolutions.com/v1.0/GetDeviceDefinitionResponse" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Jetstream">
		<xs:annotation>
			<xs:documentation>Root node for all Jetstream messages</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:annotation>
						<xs:documentation>Header for GetDeviceDefinitions Response</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:anyAttribute namespace="##any"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="GetDeviceDefinitionsResponse">
					<xs:annotation>
						<xs:documentation>Wrapper node for all GetDeviceDefinitionResponse data</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DeviceDefinitionList">
								<xs:annotation>
									<xs:documentation>List of all DeviceDefinitions</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DeviceDefinition" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>A definition of a device configuration supported in Jetstream</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CommandList">
														<xs:annotation>
															<xs:documentation>List of all commands that the device can execute</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="DeviceSpecificCommandList">
																	<xs:annotation>
																		<xs:documentation>List of DeviceSpecificCommands that the device supports</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="DeviceSpecificCommand" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="CommandName" use="required">
																						<xs:annotation>
																							<xs:documentation>The CommandName parameter</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:minLength value="1"/>
																								<xs:maxLength value="255"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:anyAttribute namespace="##any"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:anyAttribute namespace="##any"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ConfigParameterList">
																	<xs:annotation>
																		<xs:documentation>List of parameters for use in GetConfigValuesCommand/ SetConfigValuesCommand</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ConfigParameter" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="Name" use="required">
																						<xs:annotation>
																							<xs:documentation>The name of the config parameter</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:minLength value="1"/>
																								<xs:maxLength value="255"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="Type" use="required">
																						<xs:annotation>
																							<xs:documentation>The data type of the parameter</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:enumeration value="Int"/>
																								<xs:enumeration value="String"/>
																								<xs:enumeration value="Bool"/>
																								<xs:enumeration value="DateTime"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:anyAttribute namespace="##any"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:anyAttribute namespace="##any"/>
																	</xs:complexType>
																</xs:element>
																<xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
															<xs:attribute name="GetConfigValuesCommand" type="xs:boolean" use="required">
																<xs:annotation>
																	<xs:documentation>GetConfigValuesCommand supported?</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="GetEPCListCommand" type="xs:boolean" use="required">
																<xs:annotation>
																	<xs:documentation>GetEPCListCommand supported?</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="KillCommand" type="xs:boolean" use="required">
																<xs:annotation>
																	<xs:documentation>KillCommand supported?</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="LockCommand" type="xs:boolean" use="required">
																<xs:annotation>
																	<xs:documentation>LockCommand supported?</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ReadTagDataCommand" type="xs:boolean" use="required">
																<xs:annotation>
																	<xs:documentation>ReadTagDataCommand supported?</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ResetCommand" type="xs:boolean" use="required">
																<xs:annotation>
																	<xs:documentation>ResetCommand supported?</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="SetConfigValuesCommand" type="xs:boolean" use="required">
																<xs:annotation>
																	<xs:documentation>SetConfigValuesCommand supported?</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="UnlockCommand" type="xs:boolean" use="required">
																<xs:annotation>
																	<xs:documentation>UnlockCommand supported?</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="UpdateFirmwareCommand" type="xs:boolean" use="required">
																<xs:annotation>
																	<xs:documentation>UpdateFirmwareCommand supported?</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="WriteTagDataCommand" type="xs:boolean" use="required">
																<xs:annotation>
																	<xs:documentation>WriteTagDataCommand supported?</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:anyAttribute namespace="##any"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="SensorReadingMeasureList">
														<xs:annotation>
															<xs:documentation>List of sensor reading measures associated units</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SensorReadingMeasure" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="Name" use="required">
																			<xs:annotation>
																				<xs:documentation>The name of the sensor reading</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="31"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="UnitOfMeasure" use="required">
																			<xs:annotation>
																				<xs:documentation>The unit of measure of the sensor reading</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="31"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:anyAttribute namespace="##any"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:anyAttribute namespace="##any"/>
														</xs:complexType>
													</xs:element>
													<xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
												</xs:sequence>
												<xs:attribute name="Id" use="required">
													<xs:annotation>
														<xs:documentation>Unique identifier for the DeviceDefinition</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="36"/>
															<xs:maxLength value="36"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="FirmwareVersion" use="required">
													<xs:annotation>
														<xs:documentation>The firmware version associated with this DeviceDefinition</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="31"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Manufacturer" use="required">
													<xs:annotation>
														<xs:documentation>The manufacturer of the device</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Name" use="required">
													<xs:annotation>
														<xs:documentation>The name of the device</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="URL" use="required">
													<xs:annotation>
														<xs:documentation>The URL for the firmware file.  </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:anyURI">
															<xs:minLength value="1"/>
															<xs:maxLength value="1023"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:anyAttribute namespace="##any"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:anyAttribute namespace="##any"/>
					</xs:complexType>
				</xs:element>
				<xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
